# input()

In [2]:
a = input() # 한 줄 입력

10

In [3]:
a = int(input()) # 한 줄 입력 된 값을 숫자로 변환

10

In [5]:
a = input().split() # 구분자(공백)을 포함한 한 줄을 리스트로 받기

10 20

In [6]:
a = list(map(int, input().split())) # 구분자(꽁백)을 포함한 한 줄을 숫자형 리스트로 받기

10 20

In [11]:
a, *b = map(int, input().split()) # 가변 인자 받기 3 1 2 3 -> a, b = [1, 2, 3]
print('a:',a)
print('b:',b)

3 1 2 3
a: 3
b: [1, 2, 3]

### 일차원 배열 초기화 하기

In [17]:
a = list()
for _ in range(10):
    a.append(0)
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
b = [0 for _ in range(10)]
print(b)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
c = [0] * 10
print(c)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### 이차원 배열 초기화 하기

In [33]:
n, m = map(int, input().split())
a = [list(map(int, input())) for _ in range(n)]
print(a) # 공백없이 입력받기

3 3
123
123
123
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [35]:
n, m = map(int, input().split())
b = [list(map(int, input().split())) for _ in range(n)]
print(b) # 공백존재

3 3
1 2 3
1 2 3
1 2 3
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [38]:
n, m = map(int, input().split())
c = [[0] * n for _ in range(m)]
print(c)

3 3
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# print()
#### _print('input_code', sep='', end='')_

##### sep과 end 생략가능

In [39]:
print('hello remember')

hello remember

In [41]:
print('hello','remember')

hello remember

In [46]:
print('hello remember')
print('welcome')

hello remember
welcome

### end

In [48]:
print('hello remember', end=' ') #줄바꿈이 사라짐
print('welcome')

hello remember welcome

## 문제.1
### 0 ~ 9까지 반복문을 사용하여 1줄로 표시를 해보세요

In [56]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
# insert code

0 1 2 3 4 5 6 7 8 9

### sep

In [57]:
print('hello','remember', 'welcome', sep='_')

hello_remember_welcome

In [68]:
print('my name is %s 입니다.'%('리멤버'))

my name is 리멤버 입니다.

### 마무리

In [71]:
print("2021년도 %d학기 동아리 이름은 %s이고, 지도교수님은 %s 입니다."%(2, 'remember', '이종혁'))

2021년도 2학기 동아리 이름은 remember이고, 지도교수님은 이종혁 입니다.

In [63]:
print('나이는 {0}이고 성별은 {1}입니다.'.format(23, '남자'))

나이는 23이고 성별은 남자입니다.

In [65]:
print('나이는 {}이고 성별은 {}입니다.'.format(23, '남자')) #숫자 생략가능

나이는 23이고 성별은 남자입니다.